body{
  background: #c0deed url('/assets/theme-default/escer.png') no-repeat fixed left bottom;
}
body > section{
  background: rgba(255, 255, 248, 0.6);
  box-shadow: 0px 0px 15px #000;
}
body > section article{
  background: #fffff0 url('/assets/theme-default/baka.png') repeat-y scroll left bottom;
  border: 1px solid #000;
}
td.clickable:hover, a:hover, td.hover{
  color: #ff7f50;
}
tr.pinned{
  font-weight: bolder;
  text-shadow:  0px 0px 15px #FFF,0px 0px 5px #FF0;
}
body > header{
  background: black;
  color: white;
}
header a.button{
  text-decoration:none;
  color: white;
}
body > footer{
  color: rgba(0,0,0,0.85);
}
body > footer a{
  color: inherit;
}
aside.login{
  background:#E2062C;
}
a.button{
  color: black;
  opacity:0.7;
}
a.button:hover{
  opacity:1.0;
}
a.checked{
  opacity:1.0;
}
a.web{
  background: url('/assets/theme-default/web.png') left center no-repeat;
}
a.signup{
  background: #000 url('/assets/theme-default/sign.png') left center no-repeat;
}
a.user{
  background: #000 url('/assets/theme-default/user.png') left center no-repeat;
}
a.group{
  background: #000 url('/assets/theme-default/group.png') left center no-repeat;
}
a.bbcode{
  background: #000 url('/assets/theme-default/smile.png') left center no-repeat;
}
a.email{
  background: url('/assets/theme-default/email.png') left center no-repeat;
}
a.users{
  background: #000 url('/assets/theme-default/users.png') left center no-repeat;
}
td.leaf{
  background: url('/assets/theme-default/leaf.png') left center no-repeat;
}
td.tree{
  background: url('/assets/theme-default/tree.png') left center no-repeat;
}
a.login{
  background: #000 url('/assets/theme-default/login.png') left center no-repeat;
}
a.logout{
  background: #000 url('/assets/theme-default/logout.png') left center no-repeat;
}
a.page{
  background: url('/assets/theme-default/page.png') left center no-repeat;
}
a.attachment{
  background: url('/assets/theme-default/attachment.png') left center no-repeat;
}
a.add{
  background: url('/assets/theme-default/new.png') left center no-repeat;
}
a.del{
  background: url('/assets/theme-default/del.png') left center no-repeat;
}
a.edit{
  background: url('/assets/theme-default/edt.png') left center no-repeat;
}
a.top{
  background: url('/assets/theme-default/top.png') left center no-repeat;
}
a.up{
  background: url('/assets/theme-default/up.png') left center no-repeat;
}
a.down{
  background: url('/assets/theme-default/down.png') left center no-repeat;
}
a.replay{
  background: url('/assets/theme-default/replay.png') left center no-repeat;
}
article header{
  background: #000;
  color: #fff;
}
article > header > a{
  color: gold;
}
@font-face {
    font-family: 'Twit';
    src: url('/assets/theme-default/twit.eot');
    src: url('/assets/theme-default/twit.woff') format('woff'),
         url('/assets/theme-default/twit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Cretino';
    src: url('/assets/theme-default/cretino.eot');
    src: url('/assets/theme-default/cretino.woff') format('woff'),
         url('/assets/theme-default/cretino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body > footer .brand{
  font-size:125%;
  font-style:normal;
}
.baka{
  font-family: Twit;
}
.macrobug{
  font-family: Cretino;
}
aside.messages{
  background: #FF9B7B;
}
span.spoiler{
  border-color: #000;
}
fieldset.quote{
  background:url("/assets/theme-default/baka.png") 0% 100% repeat-y #C0DEED;
  border-color: #b0ceff;
  
}
aside.like{
  background-color: #E2062C;
  box-shadow: 10px 10px 20px #000000;
}
a.link_disabled{
  opacity:0.5;
  font-style:italic;
}
.sub-menu {  
  background: #00000f;  
  opacity: 0.7;
  border: 1px solid #000;  
  box-shadow: -2px 2px 2px rgba(0,0,0, 0.5);
  border-radius: 0px 0px 10px 10px; 
}  
.sub-menu li {  
  border-bottom: 1px dotted #000;  
}  
.sub-menu li:hover {  
  border-bottom: 1px dotted #bababa;  
}
nav aside{
  background: #E2062C;
}
article nav{
  background-image: none;
  background-color: rgba(0,0,0,0.8);
}
.poll{
  background-color: rgba(255,255,50,0.61);
  box-shadow: 5px 5px 10px #000000;
}
.poll caption{
  background-color: rgba(153,50,255,0.61);
  border-radius: 20px 0 0 0;
  color: #FFFF32;
}
.poll tfoot{
  border-top: 1px solid #BB8653;
}
.sign{
  font-style: italic;
  float:none;
  width: inherit;
  padding: 0px;
}
