<nav>
<%
  root=@path.shift
  last=path.pop
%>
  <%= link_to root.title,root if @current_user.can_view? root %>
  <% if !path.size.zero? %>
    <%path.each do |message| %>
      <span class="collapsed"><%= link_to message.title,message if current_user.can_view? message %></span>
    <% end %>
    <%= link_to last.title,last if current_user.can_view? last %>
  <% elsif !last.nil? %>
   <%= link_to last.title,last if current_user.can_view? last %>
  <% end %>
</nav>
