<aside class="login" id="login" hidden>
  <header>
    <nav>
      <%= link_to_void 'x', {class: "button exit", title: t(:close)} %>
    </nav>
  </header>
  <%= link_to image_tag("fb.svg", alt: t(:login))+"Facebook", "/auth/facebook", class: "button facebook" %>
  <%= link_to image_tag("g+.svg", alt: t(:login))+"Google Plus", "/auth/google_oauth2", class: "button google" %>
</aside>
