  <div class="field2">
    <%= f.label :_destroy, t(:destroy) %><br/>
    <%= f.check_box :_destroy %>
  </div>
  <div class="field2">
    <%= f.label :name %><br />
    <%= f.object.name %>
  </div>
