// Place all the styles related to the bbcodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.mfu_container{
  ul.mfu_list{
    list-style: none;
    margin-left: -1em;
    margin-right: 1em;
    li.mfu_element{
      padding:1px;
      box-shadow: 0px 0px 15px #000;
      &:hover{
        box-shadow: 0px 0px 15px #777;
      }
    }
    img{
      float:left;
      margin: 3px;
      cursor:pointer;
    }
  }
}
