img {
  border: 0px;
}

html {
  height: 95%;
}

body {
  height: 95%;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
  margin-bottom: 2em;
  > {
    header {
      text-align: left;
      position: fixed;
      top: 0px;
      left: 0px;
      padding: 0px;
      margin: 0px;
      width: 100%;
      height: 2em;
      clear: both;
      box-shadow: 0px 0px 15px #000;
      z-index: 15;
    }
    section {
      text-align: center;
      padding: 20px 0px 0px 0px;
      margin: 0px 8% 0px 8%;
      margin-top: 2.4em;
      top: 1.1em;
      min-height: 90%;
      display: block;
      width: 84%;
    }
  }
}

td.button {
  padding: 1px 0px;
  margin: 1px 2px 0px 2px;
  > svg{
    width: 48px;
    height: 48px;
  }
}
header a.button {
  padding: 1px 0px;
  margin: 1px 2px 0px 2px;
  vertical-align: top;
  > svg{
    width: 16px;
    height: 16px;
  }
}

body > footer {
  display: inline-block;
  font-style: italic;
  margin-top: 1em;
  > .credits {
    font-size: .5em;
  }
}

aside{
  &.login {
    text-align: center;
    float: right;
    position: fixed;
    margin: 0px;
    padding: 3px;
    box-shadow: -2px 2px 2px black;
    opacity: .8;
    border-radius: 10px;
    right: 1%;
    top: 3em;
    z-index: 3;
  }
  &.hiddenAside{
    z-index: 3;
    border-radius: 10px;
    margin: 0px;
    padding: 3px;
    box-shadow: -2px 2px 2px black;
    opacity: .8;
  }
}

a {
  text-decoration: none;
}

header nav {
  display: inline;
  float: right;
}

a {
  &.button {
    padding: 0px 2px 1px;
    > svg{
      width: 16px;
      height: 16px;
    }
  }
  &.button2 {
    padding: 0px 2px 1px;
    > svg{
      width: 32px;
      height: 32px;
    }
  }
}

body > section article {
  max-width: 98%;
  width: 98%;
  display: inline-block;
  text-align: left;
  border-top-left-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 10px 10px 20px #000;
  clear: both;
  padding-left: 1em;
  padding-bottom: 1em;
  position: relative;
}

article {
  section {
    padding: 0px 1em 0px 1em;
    display: block;
    clear: right;
    float: right;
    width: 80%;
  }
  header {
    font-weight: bold;
    border-radius: 20px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    clear: both;
    margin-left: -1em;
  }
  > header > a {
    margin-right: 0.5em;
  }
}

menu {
  margin: 0px;
}

article {
  menu form {
    display: inline;
  }
  nav, menu {
    float: right;
    display: block;
    padding-right: 16px;
    clear: both;
  }
  nav a, menu a {
    position: relative;
    padding: 0px;
    margin: 1px 2px 0px 2px;
    right: 0px;
    float: right;
    color: #fff;
    opacity: 0.5;
    > svg{
      height: 16px;
      width: 16px;
    }
  }
  nav a:hover {
    opacity: 1.0;
    color: #fff;
  }
  nav > span{
    overflow-x: hidden;
    display: inline-block;
    max-height: 1em;
  }
}
 #tdextended{
   width: 0px;
}
body > section table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 98%;
  max-width: 98%;
  margin-left: 1%;
}

aside {
  &.user {
    width: 16%;
    display: inline-block;
    span {
      clear: both;
      display: block;
    }
  }
  &.messages {
    margin-top: 3em;
    margin-bottom: -2.5em;
    padding: 1em;
    border-radius: 10px;
    display: inline-block;
  }
}

nav > form {
  display: inline;
}

.link {
  cursor: pointer;
}

span.spoiler {
  border: 1px dashed;
  color: rgba(0, 0, 255, 0);
}

fieldset.quote {
  margin-right: 1em;
}

.quote > blockquote {
  display: inline-block;
  margin: 0px 1em;
}

cite {
  display: inline;
  float: left;
  position: relative;
  top: -1em;
  font-style: italic;
}

div.field{
  clear: both;
  > table {
    display: inline-block;
    width: auto;
    border-spacing: 2px;
  }
}

form > fieldset {
  display: inline-block;
  min-width: 20%;
  margin-bottom: 1em;
}

aside.like {
  width: 3em;
  border-radius: 2em;
  display: inline-block;
  height: 2em;
  width: 3em;
  text-align: center;
  padding-top: 1em;
  float: right;
  position: relative;
  top: -2em;
  right: -1em;
}

.drop-menu {
  display: inline-block;
}

.sub-menu {
  display: none;
  z-index: 0;
  padding: 8px 10px;
  margin-left: -11px;
  margin-top: -4px;
  li {
    list-style-type: none;
    display: block;
  }
}

.plus {
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.drop-menu:hover {
  .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .sub-menu {
    display: block;
  }
}

.field2 {
  width: 45%;
  margin-bottom: 10px;
  &:nth-child(odd) {
    margin-right: 5%;
    float: right;
  }
  &:nth-child(even) {
    margin-left: 5%;
    float: left;
  }
}

.field3 {
  margin-bottom: 10px;
  display: inline-block;
  white-space: nowrap;
}

div.field3 {
  &:nth-of-type(3n) {
    clear: right;
  }
  &:nth-of-type(3n+1) {
    float: left;
    clear: left;
  }
  &:nth-of-type(3n+2) {
    display: inline-block;
  }
}

.actions {
  clear: both;
}

.g-recaptcha {
  display: inline-block;
}

header > form {
  display: inline-block;
  vertical-align: top;
  margin-left: 25%;
}

nav aside {
  display: none;
  border-radius: 0px 0px 10px 10px;
  box-shadow: -2px 2px 2px black;
  margin: 0px;
  opacity: 0.8;
  padding: 3px;
  padding-right: 8px;
  position: fixed;
  z-index: 3;
  text-align: center;
}

body > section > menu {
  float: right;
  padding-right: 2%;
}

article {
  menu {
    position: relative;
    left: 3px;
    top: 3px;
    z-index: 2;
    top: -1.5em;
    clear: none;
  }
  nav {
    width: 84%;
    border-radius: 1em;
    display: none;
    position: absolute;
    top: auto;
    left: auto;
    right: 0px;
    bottom: 0px;
    border-radius: 1em 1em 0px 0px;
  }
}

.poll {
  margin-bottom: 0.5em;
}

aside{
  .attachments {
    position: absolute;
    clear: both;
    bottom: 2em;
    right: 1em;
  }
  &#emoji{
    display: none;
    position: absolute;
    top:0px;
    left:0px;
    max-width: 50%;
  }
}

textarea{
  width: 90%;
}
details {
  width: 33%;
  padding: 7px;
  padding-bottom: 0;
  margin: 0px auto 20px;
  display: block;
  text-align: left;
  background-color: #f0f0f0;
  border: 2px solid red;
  &.hidden{
    display: none;
  }
  summary {
    display: block;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    text-align: center;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.markItUp{
  width: 95%;
}
.markitupDiv{
  padding-left: 5%;
}
.markItUpEditor{
  padding: 1em;
}
.clear{
  clear: both;
}
.field_with_errors {
  display: block;
}
