body{
  background: #c0deed url('/assets/escer.png') no-repeat fixed left bottom;
}
section.main{
  background: rgba(255, 255, 248, 0.6);
  box-shadow: 0px 0px 15px #000;
}
section.main article{
  background: #fffff0 url('/assets/baka.png') repeat-y scroll left bottom;
  border: 1px solid #000;
}
td.clickable:hover, a:hover{
  color: #ff7f50;
}
tr.pinned{
  font-weight: bolder;
  text-shadow:  0px 0px 15px #FFF,0px 0px 5px #FF0;
}
header.main{
  background: black;
  color: white;
}
header a.button{
  text-decoration:none;
  color: white;
}
footer.main{
  color: rgba(0,0,0,0.85);
}
footer.main a{
  color: inherit;
}
aside.login{
  background:#e2062c;
}
a.button{
  color: black;
  opacity:0.7;
}
a.button:hover{
  opacity:1.0;
}
a.checked{
  opacity:1.0;
}
a.web{
  background: #fffff0 url('/assets/web.png') left center no-repeat;
}
a.signup{
  background: #000 url('/assets/sign.png') left center no-repeat;
}
a.user{
  background: #000 url('/assets/user.png') left center no-repeat;
}
a.group{
  background: #000 url('/assets/group.png') left center no-repeat;
}
a.users{
  background: #000 url('/assets/users.png') left center no-repeat;
}
td.leaf{
  background: url('/assets/leaf.png') left center no-repeat;
}
td.tree{
  background: url('/assets/tree.png') left center no-repeat;
}
a.login{
  background: #000 url('/assets/login.png') left center no-repeat;
}
a.logout{
  background: #000 url('/assets/logout.png') left center no-repeat;
}
a.page{
  background: url('/assets/page.png') left center no-repeat;
}
a.top{
  background: url('/assets/top.png') left center no-repeat;
}
a.up{
  background: url('/assets/up.png') left center no-repeat;
}
a.down{
  background: url('/assets/down.png') left center no-repeat;
}
article header{
  background: #000;
  color: #fff;
}
article > header > a{
  color: gold;
}
article nav{
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  background-image: -o-linear-gradient( top right, #e2062c,#000);
  height: 1.5em;
  position: relative;
  left:3px;
  top:3px;
  z-index: 2;
}
@font-face {
    font-family: 'Twit';
    src: url('/assets/twit.eot');
    src: url('/assets/twit.woff') format('woff'),
         url('/assets/twit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Cretino';
    src: url('/assets/cretino.eot');
    src: url('/assets/cretino.woff') format('woff'),
         url('/assets/cretino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
footer.main .brand{
  font-size:125%;
  font-style:normal;
}
.baka{
  font-family: Twit;
}
.macrobug{
  font-family: Cretino;
}
aside.messages{
  background: #FF8C00;
}
span.spoiler{
  border-color: #000;
}
blockquote{
  background:url("http://baka.macrobug.uchi/assets/baka.png") 0% 100% repeat-y #C0DEED;
  border-color: #b0ceff;
  
}
aside.like{
  background-color: #e2062c;
  box-shadow: 10px 10px 20px #000000;
}
a.link_disabled{
  opacity:0.5;
  font-style:italic;
}
.sub-menu {  
  background: #00000f;  
  opacity: 0.7;
  border: 1px solid #000;  
  box-shadow: -2px 2px 2px rgba(0,0,0, 0.5);
  border-radius: 0px 0px 10px 10px; 
}  
.sub-menu li {  
  border-bottom: 1px dotted #000;  
}  
.sub-menu li:hover {  
  border-bottom: 1px dotted #bababa;  
}
