body{
  background: #c0deed url('/assets/escer.png') no-repeat fixed left bottom;
}
a:hover{
  color: #ff7f50;
}
tr.pinned{
  background: #3f2112 url('/assets/recse.png') no-repeat fixed left bottom;
  color: #ccc;
}
tr.pinned a{
  color: #ccc;
}
tr.pinned a:hover{
  color: #0080af;
}
header.main{
  background: black;
  color: white;
}
header a.button{
  text-decoration:none;
  color: white;
}
footer.main{
  color: rgba(0,0,0,0.85);
}
footer.main a{
  color: inherit;
}
aside.login{
  background:#e2062c;
}
a.button{
  color: black;
}
a.new{
  background: #000 url('/assets/new.png') left center no-repeat;
}
a.new:hover{
  background: #000 url('/assets/newh.png') left center no-repeat;
}
a.exp{
  background: #000 url('/assets/exp.png') left center no-repeat;
}
a.exp:hover{
  background: #000 url('/assets/exph.png') left center no-repeat;
}
section.main article{
  background: #ff0;
  border: 1px solid #000;
}
article header{
  background: #000;
  color: #fff;
}
article nav{
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  background-color: #e2062c;
  height: 1.5em;
  position: relative;
  left:3px;
  top:3px;
  z-index: 2;
}
@font-face {
    font-family: 'Twit';
    src: url('/assets/twit.eot');
    src: url('/assets/twit.woff') format('woff'),
         url('/assets/twit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Cretino';
    src: url('/assets/cretino.eot');
    src: url('/assets/cretino.woff') format('woff'),
         url('/assets/cretino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
footer.main .brand{
  font-size:125%;
  font-style:normal;
}
.baka{
  font-family: Twit;
}
.macrobug{
  font-family: Cretino;
}
