body{
  background: #c0deed url('/assets/escer.png') no-repeat fixed left bottom;
}
section.main article{
  background: #fffff0 url('/assets/baka.png') repeat-y scroll left bottom;
  border: 1px solid #000;
}
td.clickable:hover, a:hover{
  color: #ff7f50;
}
tr.pinned{
  background: #3f2112 url('/assets/recse.png') no-repeat fixed left bottom;
}
tr.pinned a, tr.pinned{
  color: #ccc;
}
tr.pinned > td.clickable:hover, tr.pinned a:hover{
  color: #0080af;
}
header.main{
  background: black;
  color: white;
}
header a.button{
  text-decoration:none;
  color: white;
}
footer.main{
  color: rgba(0,0,0,0.85);
}
footer.main a{
  color: inherit;
}
aside.login{
  background:#e2062c;
}
a.button{
  color: black;
}
a.web{
  background: #fffff0 url('/assets/web.png') left center no-repeat;
}
a.signup{
  background: #000 url('/assets/sign.png') left center no-repeat;
}
td.leaf{
  background: url('/assets/leaf.png') left center no-repeat;
}
td.tree{
  background: url('/assets/tree.png') left center no-repeat;
}
a.signup:hover{
  background: #000 url('/assets/signh.png') left center no-repeat;
}
a.login{
  background: #000 url('/assets/login.png') left center no-repeat;
}
a.login:hover{
  background: #000 url('/assets/loginh.png') left center no-repeat;
}
a.logout{
  background: #000 url('/assets/logout.png') left center no-repeat;
}
a.logout:hover{
  background: #000 url('/assets/logouth.png') left center no-repeat;
}
a.page{
  background: url('/assets/page.png') left center no-repeat;
}
a.top{
  background: url('/assets/top.png') left center no-repeat;
}
a.up{
  background: url('/assets/up.png') left center no-repeat;
}
a.up.checked, a.up:hover{
  background: url('/assets/uph.png') left center no-repeat;
}
a.down{
  background: url('/assets/down.png') left center no-repeat;
}
a.down.checked, a.down:hover{
  background: url('/assets/downh.png') left center no-repeat;
}
a.checked{
  opacity:1.0;
}
article header{
  background: #000;
  color: #fff;
}
article nav{
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  background-image: -o-linear-gradient( top right, #e2062c,#000);
  height: 1.5em;
  position: relative;
  left:3px;
  top:3px;
  z-index: 2;
}
@font-face {
    font-family: 'Twit';
    src: url('/assets/twit.eot');
    src: url('/assets/twit.woff') format('woff'),
         url('/assets/twit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Cretino';
    src: url('/assets/cretino.eot');
    src: url('/assets/cretino.woff') format('woff'),
         url('/assets/cretino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
footer.main .brand{
  font-size:125%;
  font-style:normal;
}
.baka{
  font-family: Twit;
}
.macrobug{
  font-family: Cretino;
}
aside.messages{
  background: #FF8C00;
}
span.spoiler{
  border-color: #000;
}
blockquote{
  background:url("http://baka.macrobug.uchi/assets/baka.png") 0% 100% repeat-y #C0DEED;
  border-color: #b0ceff;
  
}
