@font-face {
    font-family: 'lgdr';
    src: url('/assets/theme-l33t/lgdr.eot');
    src: url('/assets/theme-l33t/lgdr.woff') format('woff'),
         url('/assets/theme-l33t/lgdr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
  background: #000 url('/assets/theme-l33t/matrix.gif') repeat fixed 0% 0%;
  font-family: lgdr;
  color: green;
}
p, ol, ul, td, input { 
  font-family: lgdr;
}
a{
  color: green;
}
section.main,aside.like{
  background: rgba(0, 0, 0, 0.6);
  border: 1px #0f0 dashed;
}
aside.login,article header,aside.like,section.main article { 
  border-radius: 0px;
}
section.main article{
  background: rgba(0, 0, 0, 0.6);
  border: 1px dotted #0F0;
}
td.clickable:hover, a:hover, td.hover{
  color: #7fff7f;
}
tr.pinned{
  font-weight: bolder;
  text-shadow:  0px 0px 15px #FFF,0px 0px 5px #7fff7f;
}
header.main{
  background: black;
  color: green;
}
header a.button{
  text-decoration:none;
  color: green;
}
footer.main{
  color: rgba(0,255,0,0.85);
}
footer.main a{
  color: inherit;
}
aside.login{
  background:#000;
  border: 1px dashed #0F0; 
}
a.button{
  color: black;
  opacity:0.7;
}
a.button:hover{
  opacity:1.0;
}
a.checked{
  opacity:1.0;
}
a.web{
  background: url('/assets/theme-l33t/web.png') left center no-repeat;
}
a.signup{
  background: #000 url('/assets/theme-l33t/sign.png') left center no-repeat;
}
a.user{
  background: #000 url('/assets/theme-l33t/user.png') left center no-repeat;
}
a.group{
  background: #000 url('/assets/theme-l33t/group.png') left center no-repeat;
}
a.bbcode{
  background: #000 url('/assets/theme-l33t/smile.png') left center no-repeat;
}
a.email{
  background: url('/assets/theme-l33t/email.png') left center no-repeat;
}
a.users{
  background: #000 url('/assets/theme-l33t/users.png') left center no-repeat;
}
td.leaf{
  background: url('/assets/theme-l33t/leaf.png') left center no-repeat;
}
td.tree{
  background: url('/assets/theme-l33t/tree.png') left center no-repeat;
}
a.login{
  background: #000 url('/assets/theme-l33t/login.png') left center no-repeat;
}
a.logout{
  background: #000 url('/assets/theme-l33t/logout.png') left center no-repeat;
}
a.page{
  background: url('/assets/theme-l33t/page.png') left center no-repeat;
}
a.add{
  background: url('/assets/theme-l33t/new.png') left center no-repeat;
}
a.del{
  background: url('/assets/theme-l33t/del.png') left center no-repeat;
}
a.edit{
  background: url('/assets/theme-l33t/edt.png') left center no-repeat;
}
a.top{
  background: url('/assets/theme-l33t/top.png') left center no-repeat;
}
a.up{
  background: url('/assets/theme-l33t/up.png') left center no-repeat;
}
a.down{
  background: url('/assets/theme-l33t/down.png') left center no-repeat;
}
article header{
  background: #000;
  color: #fff;
}
article > header > a{
  color: #0f0;
}
article nav{
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  background-image: -o-linear-gradient( top right, #e2062c,#000);
  height: 1.5em;
  position: relative;
  left:3px;
  top:3px;
  z-index: 2;
}
footer.main .brand{
  font-size:125%;
  font-style:normal;
}
aside.messages{
  background: #FF8C00;
}
span.spoiler{
  border-color: #000;
}
fieldset.quote{
  background:#000;
  border-color: #7fff7f;
  border-style: dotted;
}
a.link_disabled{
  opacity:0.5;
  font-style:italic;
}
.sub-menu {  
  background: #00000f;  
  opacity: 0.7;
  border: 1px solid #000;  
  box-shadow: -2px 2px 2px rgba(0,0,0, 0.5);
  border-radius: 0px 0px 10px 10px; 
}  
.sub-menu li {  
  border-bottom: 1px dotted #000;  
}  
.sub-menu li:hover {  
  border-bottom: 1px dotted #bababa;  
}
aside.full_path_dropdown{
  background: #E2062C;
}
