<footer class="main">
  <a href="https://www.github.com/oomushi/baka" class="brand baka">Baka</a> 
  &egrave; un prodotto 
  <a href="https://www.github.com/oomushi" class="brand macrobug">Macrobug</a>
</footer>
