<footer class="main">
  <a href="http://www.github.com/macrobug-sh/baka" class="brand baka">Baka</a> 
  &egrave; un prodotto 
  <a href="http://www.github.com/macrobug-sh" class="brand macrobug">Macrobug</a>
</footer>
