<header class="main">
  <a href="/"><img src="/assets/logo.png" alt="バカ"/></a>
  <nav>
  <% if defined? @current_user %>
    <%= link_to @current_user.username, logout_path,:class=>"button logout",:title=>"logout" %>
  <% else %>
      <%= link_to "signup", signup_path,:class=>"button signup" %>
      <%= link_to_function "login", "$('#login').show('smooth');$('#username').focus();",:class=>"button login" %>
  <% end %>
  </nav>
</header>
<%= render :partial=>'sessions/new' %>
